/* Themify Customize Styling */
body {	
	font-family:Open Sans;	font-weight:300;

	color: #000000; 
}
a {		text-decoration:underline;

	color: #357edd; 
}
h3 {	
	color: #575757; 
}
#header {		font-size:.8em;
 
}
body[class*="themify"] #site-logo a {	display: none; 
}
body[class*="themify"] #site-logo a img {		width: 40px;
	height: 40px; 
}
#main-nav a {	
	color: #a8a8a8; 
}
#main-nav a:hover {	
	color: #ffffff; 
}
#main-nav .current_page_item a,  #main-nav .current-menu-item a {	
	color: #a8a8a8; 
}
#main-nav .current_page_item a:hover,  #main-nav .current-menu-item a:hover {	
	color: #ffffff; 
}
@media screen and (max-width: 1280px) { /* Themify Customize Styling */
body[class*="themify"] #site-logo a img {		width: 40px;
	height: 40px; 
}
 }@media screen and (max-width: 768px) { /* Themify Customize Styling */
body[class*="themify"] #site-logo a img {		width: 40px;
	height: 40px; 
}
 }@media screen and (max-width: 680px) { /* Themify Customize Styling */
body[class*="themify"] #site-logo a img {		width: 40px;
	height: 40px; 
}
 }